<script lang="ts">
import Vue from 'vue';

import { RESOURCE_ICON_PATH } from '../../common/constants';

export default Vue.extend({
  name: 'FeaturedReports',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  computed: {
    resourceIcon() {
      return RESOURCE_ICON_PATH;
    },
  },
});
</script>
<template>
  <SlpContainer>
    <div class="container">
      <SlpTypography
        class="container__title"
        variant="heading2-bold"
        tag="h2"
        >{{ data.title }}</SlpTypography
      >
      <div class="horizontal-rule"></div>
      <div class="grid">
        <div
          v-for="(report, index) in data.reports"
          :key="report.description + `-${index}`"
          class="grid__card"
        >
          <div class="grid__card-content">
            <div class="grid__card-content-logo slp-mb-24">
              <img :src="report.logo" />
            </div>
            <SlpTypography
              variant="heading4-bold"
              tag="h4"
              class="grid__card-content-name slp-mb-24"
            >
              {{ report.name }}
            </SlpTypography>
            <div class="grid__card-content-description">
              {{ report.description }}
            </div>
            <a
              class="grid__card-content-link desktop-only"
              :href="report.cta_url"
              :data-ga-name="report.cta_data_ga_name"
              :data-ga-location="report.cta_data_ga_location"
              :aria-label="report.cta_data_ga_name"
              ><SlpTypography class="learn-more"
                >Learn more
                <SlpIcon
                  class="learn-more-icon"
                  name="chevron-lg-right"
                  variant="product"
                />
              </SlpTypography>
            </a>
            <a
              class="grid__card-content-link mobile-only"
              :href="report.cta_url"
              :data-ga-name="report.cta_data_ga_name"
              :data-ga-location="report.cta_data_ga_location"
              :aria-label="report.cta_data_ga_name"
              ><SlpTypography class="learn-more"
                >Learn more
                <SlpIcon
                  class="learn-more-icon"
                  name="chevron-lg-right"
                  variant="product"
                />
              </SlpTypography>
            </a>
          </div>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>
<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
  margin: 120px 0 120px 0;
  &__title {
    margin-bottom: 40px;
    @media screen and (max-width: $breakpoint-sm) {
      font-size: 40px !important;
    }
  }
}
.horizontal-rule {
  border-top: 1px solid $color-surface-300;
  width: 100%;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 24px;
  gap: 40px;
  &__card {
    display: flex;
    flex-direction: row;
    padding: 32px 16px 24px;
    align-items: flex-start;
    height: 508px;
    gap: 30px;
    &-content {
      height: 100%;
      position: relative;
      &-description {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
      }
      &-link {
        position: absolute;
        bottom: 20px;
        line-height: 24px;
        font-size: 20px;
      }
    }

    &:hover {
      background: #f6f3fe;
      border-radius: 0px 0px 100px 0px;
      flex-grow: 0;
      .learn-more {
        text-decoration: underline;
        &-icon {
          transform: translate(7px, 2px);
        }
      }
    }

    a {
      color: #171321;
    }
    .learn-more {
      transition: all 0.2s ease-in-out;
      display: flex;
      font-weight: 600;
      &-icon {
        transition: all 0.2s ease-in-out;
        transform: translatey(2px);
      }
    }
    @media screen and (max-width: $breakpoint-sm) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #f6f3fe;
      height: fit-content;
      &-content {
        position: static;
        &-name {
          font-size: $text-heading-4-mobile;
          line-height: 36px;
        }
        &-description {
          font-size: 22px;
          line-height: 28px;
        }
        &-link {
          position: static;
          bottom: 0;
          margin: 32px 0px 20px 0px;
        }
      }
    }
    @media (min-width: $breakpoint-md) {
      width: 350px;
      flex-direction: row;
    }
  }

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.desktop-only {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: block;
  }
}
.mobile-only {
  display: none;
  @media (max-width: $breakpoint-md) {
    display: block;
  }
}
</style>
