<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <div class="comparison-table__header">
    <SlpTypography tag="h1" variant="heading2-bold" class="header">
      {{ data.header }}</SlpTypography
    >
    <SlpTypography
      tag="p"
      v-html="$md.render(data.description)"
    ></SlpTypography>
  </div>
</template>

<style lang="scss" scoped>
.comparison-table__header {
  margin-top: $spacing-64;
  margin-bottom: $spacing-32;
  .header {
    margin-bottom: $spacing-8;
  }
}
</style>
